# Django Settings
SECRET_KEY=your-secret-key-here
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Database Settings
DB_NAME=edutraker_db
DB_USER=root
DB_PASSWORD=EduTraker@2025!
DB_HOST=localhost
DB_PORT=3306

# CORS Settings
FRONTEND_URL=http://localhost:5173

# Tayeh 
# Django Settings
SECRET_KEY=your-secret-key-here
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Database Settings
DB_NAME=edutraker_db
DB_USER=mahmoud_user
DB_PASSWORD=120210653
DB_HOST=localhost
DB_PORT=3306

# CORS Settings
FRONTEND_URL=http://localhost:5173
